.slide h2{
    border: none;
    text-align: center;
    font-size: 225%;
}

.slide blockquote{
    font-size: 14em;
    text-align:center;
}

.slide blockquote.quote{
    font-size: 4em;
    text-align:center;
}

.slide blockquote p a{
    text-decoration: none;
}

body{
    font-family: 'Sorts Mill Goudy', serif;
}

#less____sass____stylus h1 a{
    color: #3e3e3e;

}

h1 a,
h2 a{
    text-decoration: none;
}

h1 a:hover,
h2 a:hover {
    text-decoration : underline;
}

.deck-container .slide.only-title.even h1,
.deck-container .slide.only-title.even h2,
.deck-container .slide.only-title.even h1 a,
.deck-container .slide.only-title.even h2 a
{
    color: #447700;
}

.deck-container .slide.only-title.odd h1,
.deck-container .slide.only-title.odd h2,
.deck-container .slide.only-title.odd h1 a,
.deck-container .slide.only-title.odd h2 a
{
    color: #990000;
}
.deck-container .slide.only-title.two-three h1,
.deck-container .slide.only-title.two-three h2
{
    top: 33%;
}
